.settings
Application/
Debug/
Drivers/
STM32CubeIDE/
.cproject
.DS_Store
.mxproject
.project
makefile
*.xml
Prac1.ioc
startup_stm32f051x8.s
STM32F032x.svd
STM32Make.make
EEE3096S 2024 Practical 1 template.pdf
EEE3096S 2024 Practical 1.docx
openocd.cfg
STM32F031x.svd
STM32F051C6Tx_FLASH.ld
.vscode/settings.json
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/tasks.json
build/EEE2046Prac.bin
build/EEE2046Prac.elf
build/EEE2046Prac.hex
build/EEE2046Prac.map
build/main.d
build/main.lst
build/main.o
build/startup_stm32f051x8.d
build/startup_stm32f051x8.o
build/stm32f0xx_hal_cortex.d
build/stm32f0xx_hal_cortex.lst
build/stm32f0xx_hal_cortex.o
build/stm32f0xx_hal_dma.d
build/stm32f0xx_hal_dma.lst
build/stm32f0xx_hal_dma.o
build/stm32f0xx_hal_flash_ex.d
build/stm32f0xx_hal_flash_ex.lst
build/stm32f0xx_hal_flash_ex.o
build/stm32f0xx_hal_flash.d
build/stm32f0xx_hal_flash.lst
build/stm32f0xx_hal_flash.o
build/stm32f0xx_hal_gpio.d
build/stm32f0xx_hal_gpio.lst
build/stm32f0xx_hal_gpio.o
build/stm32f0xx_hal_i2c_ex.d
build/stm32f0xx_hal_i2c_ex.lst
build/stm32f0xx_hal_i2c_ex.o
build/stm32f0xx_hal_i2c.d
build/stm32f0xx_hal_i2c.lst
build/stm32f0xx_hal_i2c.o
build/stm32f0xx_hal_msp.d
build/stm32f0xx_hal_msp.lst
build/stm32f0xx_hal_msp.o
build/stm32f0xx_hal_pwr_ex.d
build/stm32f0xx_hal_pwr_ex.lst
build/stm32f0xx_hal_pwr_ex.o
build/stm32f0xx_hal_pwr.d
build/stm32f0xx_hal_pwr.lst
build/stm32f0xx_hal_pwr.o
build/stm32f0xx_hal_rcc_ex.d
build/stm32f0xx_hal_rcc_ex.lst
build/stm32f0xx_hal_rcc_ex.o
build/stm32f0xx_hal_rcc.d
build/stm32f0xx_hal_rcc.lst
build/stm32f0xx_hal_rcc.o
build/stm32f0xx_hal_tim_ex.d
build/stm32f0xx_hal_tim_ex.lst
build/stm32f0xx_hal_tim_ex.o
build/stm32f0xx_hal_tim.d
build/stm32f0xx_hal_tim.lst
build/stm32f0xx_hal_tim.o
build/stm32f0xx_hal.d
build/stm32f0xx_hal.lst
build/stm32f0xx_hal.o
build/stm32f0xx_it.d
build/stm32f0xx_it.lst
build/stm32f0xx_it.o
build/stm32f0xx_ll_exti.d
build/stm32f0xx_ll_exti.lst
build/stm32f0xx_ll_exti.o
build/stm32f0xx_ll_gpio.d
build/stm32f0xx_ll_gpio.lst
build/stm32f0xx_ll_gpio.o
build/stm32f0xx_ll_rcc.d
build/stm32f0xx_ll_rcc.lst
build/stm32f0xx_ll_rcc.o
build/stm32f0xx_ll_utils.d
build/stm32f0xx_ll_utils.lst
build/stm32f0xx_ll_utils.o
build/system_stm32f0xx.d
build/system_stm32f0xx.lst
build/system_stm32f0xx.o
